
.DS_Store
.idea/DiscordBaseballBot.iml
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
BaseballConsumer/discordSettings.doNotUpload.json
BaseballConsumer/logs/game_thread.now
